h1 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 800;
}

.border {
  border-width: 1px;
  border-style: solid;
}
.btn {
  min-height: 50px;
  padding: 0.5rem;
}
.card {
  border: 1px solid red;
  max-width: 800px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }

}